// WXS(WeiXin Script) ,小程序的一套脚本语言，可以在WXML的{{}}中调用.wxs的方法 类似vue的computed
var comonWxs = {
  //日期转换小时 如 2020.02.21 15:56 取15
	turnHour: function(date){
    var time = date.substring(11,13),
        hour = '';
    if(time.slice(0,1)>0){
      hour = time;
    }else{
      hour = time.slice(1,2);
    }
    return hour
  },



}

// 导出对外暴露的属性
module.exports = {
  turnHour: comonWxs.turnHour
}
